.page-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  &--menu-closed {
    .page-header__menu-wrap {
      display: none;
    }
  }

  &--menu-opened {
    .page-header__menu-wrap {
      display: flex;
    }
  }
}

.page-header__container {
  padding: 20px 15px;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
}

.page-header__open-button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
}

.page-header__open-button span {
  width: 25px;
  height: 3px;
  background-color: $black;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-header__open-button span::before,
.page-header__open-button span::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 3px;
  background-color: $black;
  left: 0;
}

.page-header__open-button span::before {
  top: -7px;
}

.page-header__open-button span::after {
  top: 7px;
}

.page-header__open-button:hover span,
.page-header__open-button:hover span::before,
.page-header__open-button:hover span::after,
.page-header__open-button:focus span,
.page-header__open-button:focus span::before,
.page-header__open-button:focus span::after {
  background-color: $blue-grey;
}

.page-header__open-button:active {
  opacity: 0.8;
}

.page-header__menu-wrap {
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 0 10px 20px 0 rgba(12, 6, 57, 0.1);
  background-color: $white;
  display: flex;
  flex-direction: column;
  width: 54%;
  padding: 29px 37px 68px 32px;
  height: 100vh;
  min-height: 100%;
  overflow-y: scroll;
}

.page-header__phone span {
  color: $black;
}

.page-header__phone .page-header__phone-icon {
  color: $blue;
  margin-right: 7px;
}

.page-header__contacts-title .page-header__point-icon {
  margin-right: 6px;
}

.page-header__phone,
.page-header__contacts-title {
  display: flex;
  align-items: center;
}

.page-header__contacts-title {
  margin-bottom: 15px;
}

.page-header__phone:hover span,
.page-header__phone:focus span,
.page-header__phone:hover .page-header__phone-icon,
.page-header__phone:focus .page-header__phone-icon {
  color: $blue-grey;
}

.page-header__phone:active {
  opacity: 0.8;
}

.page-header__contacts {
  display: flex;
  flex-direction: column;
  margin-left: 17px;
  font-size: 15px;
  letter-spacing: 0.3px;

  margin-top: 40px;
}

.page-header__close-button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  margin-left: 36px;
}

.page-header__close-button span {
  display: block;
  width: 24px;
  height: 2px;
  background-color: $blue;
  position: relative;
}

.page-header__close-button span::before,
.page-header__close-button span::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 2px;
  background-color: $blue;
  right: 0;
}

.page-header__close-button span::before {
  transform: rotate(45deg);
  top: -4px;
}

.page-header__close-button span::after {
  transform: rotate(-45deg);
  bottom: -4px;
}

.page-header__close-button:hover span,
.page-header__close-button:hover span::before,
.page-header__close-button:hover span::after,
.page-header__close-button:focus span,
.page-header__close-button:focus span::before,
.page-header__close-button:focus span::after {
  background-color: $blue-grey;
}

.page-header__close-button:active {
  opacity: 0.8;
}

.page-header__search-button {
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  border: none;
  width: 24px;
  height: 24px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header__search-button .page-header__search-icon {
  color: $blue;
}

.page-header__search-button:hover .page-header__search-icon,
.page-header__search-button:focus .page-header__search-icon {
  color: $blue-grey;
}

.page-header__search-button:active {
  opacity: 0.8;
}

.page-header__top-buttons-wrap {
  display: flex;
  justify-content: space-between;
}

.page-header__menu-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 107px;


  &--search-closed {
    .search {
      display: none;
    }
  }

  &--search-opened {
    margin-bottom: 30px;
    align-items: flex-start;

    .search {
      display: block;
    }

    .page-header__language {
      display: none;
    }

    .page-header__search-button {
      display: none;
    }

    .page-header__close-button {
      margin-left: 20px;
    }
  }

  &--language-opened {
    .language__icon {
      transform: rotate(180deg);
    }
  }
}

@media (max-width: $mobile-width) {
  .page-header__menu-wrap {
    width: 100%;
    padding: 12px 4.5% 68px 4.2%;
  }

  .page-header__close-button {
    margin-left: 24px;
  }

  .page-header__menu-top {
    margin-bottom: 40px;

    &--search-opened {
      margin-bottom: 30px;
    }

    &--language-opened {
      margin-bottom: 111px;
    }
  }
}
