.search__item {
  padding: 0;
  margin: 0;
  border: none;
}

.search__input {
  padding: 5px 30px 13px 19px;
  border: none;
  border-bottom: 2px solid $blue-grey;
  width: 249px;
  font-size: 13px;
  outline: none;
}

.search__input:hover {
  border-bottom-color: $black;
}

.search__input:focus {
  border-bottom-color: $blue;
}

.search__input::placeholder {
  font-size: 13px;
  color: $blue-grey;
}

.search {
  position: relative;
}

.search__close {
  position: absolute;
  right: 8px;
  top: 5px;
  width: 16px;
  height: 16px;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  outline: none;
  border: none;
}

.search__close span {
  position: relative;
  width: 16px;
  height: 16px;
  display: block;
}

.search__close span::before,
.search__close span::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 2px;
  background-color: $blue;
  top: 7px;
  left: 0;
}

.search__close span::before {
  transform: rotate(-45deg);
}

.search__close span::after {
  transform: rotate(45deg);
}

.search__close:hover span::before,
.search__close:focus span::before,
.search__close:hover span::after,
.search__close:focus span::after {
  background-color: $blue-grey;
}

.search__close:active {
  opacity: 0.8;
}
